<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/api/users/register" method="post">
        <input name="email" type="text" placeholder="Enter your email">
        <input name="last_name" type="text" placeholder="Enter your last name">
        <input name="first_name" type="text" placeholder="Enter your first name">
        <input name="phone_number" type="text" placeholder="Enter your phone number">
        <input name="pin" type="text" placeholder="Enter your pin">
        <input name="password" type="text" placeholder="Enter your password">
        <button type="submit">Register</button>
    </form>
</body>
</html>